<div class="container">
  <div class="video-gallery">
    <div *ngFor="let video of videos" class="video-card">
      <div class="video-thumbnail-container"
           (click)="goToVideo(video.id)"
           (mouseenter)="playPreview(videoElement)"
           (mouseleave)="resetPreview(videoElement)">
        <img [src]="'http://localhost:3000' + video.thumbnailUrl" alt="Miniatura" class="thumbnail-image" />
        <video #videoElement class="preview-video" muted>
          <source [src]="'http://localhost:3000' + video.videoUrl" type="video/mp4" />
        </video>
      </div>
      <p>{{ video.title }}</p>
      <p>Subido por: {{ video.user?.username }}</p>
      <p><strong>Visibilidad:</strong> {{ video.visibility?.name }}</p>
    </div>
  </div>
</div>
